name: Build and ship Key Generator

on:
  push:
    branches:
      - main
    tags:
      - keygen*

jobs:
  deploy-keygen:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.25"

      - name: Build key generator
        run: |
          GOOS=linux GOARCH=arm64 go build -o keygen ./cmd/keygen.go

      - name: Copy key generator to VM
        if: success()
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.VM_IP }}
          username: ${{ secrets.VM_USER }}
          key: ${{ secrets.VM_KEY }}
          port: 22
          source: "./keygen"
          target: "~/b21"
